*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
}
.heroSection{
    box-shadow: none !important;
    
}
.heroSection h2{
    font-size: 55px;
    font-weight: 700;
    text-align: left;
}
.heroSection p{
    color:  #21243D;
   text-align: left;
}
.heroSection button{
  background-color: #FF6464 !important;
}
.muiContainer{
    width: 80% !important;
    margin-inline: auto;
}
.grid-item{
    box-shadow: none !important;
}